/*
  GENERAL
*/

body {
  box-sizing: border-box
}

.hidden {
  display: none;
}

h1 {
  margin: 0;
}

.container-fluid {
  margin: 0 !important;
  padding-left: 0;
  padding-right: 0;
}

/*
  NAVIGATION
*/

.navbar-brand {
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 900;
}

.navbar {
  background: black;
}

/*
  COIN SELECT DROPDOWN
*/


.select-dropdown,
.filtrable,
.search {
  text-align: center;

}

.select-wrapper .search-wrap {
  padding: 0;
}

.select-wrapper .search-wrap .md-form input {
  padding-bottom: 12px;
}

.select-wrapper span.caret {
  right: 10px;
  z-index: 1;
}

.select-wrapper input.select-dropdown {
  background: whitesmoke;
  margin-bottom: 0;
  border-bottom: 1px solid whitesmoke;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

/*
  SECTION HEADERS
*/

.section-title {
  padding: 3rem;
  color: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  z-index: 1;
}

.section-title h1 {
  font-weight: 900;
}

/*
  MARKET DATA
*/

.market-data {
  text-align: center;
}

.market-column-light,
.market-column-header,
.market-column-left-header {
  background: white;
}

.market-column-dark {
  background: black;
  color: white;
}

.market-column-grey {
  background: whitesmoke;
}

.market-column-dark {
  padding: 3rem;
  border-bottom: 1px solid #232323c4;
  border-right: 1px solid #232323c4;
}

.market-column-grey {
  padding: 3rem;
  border-bottom: 1px solid #eceaea;
  border-right: 1px solid #eceaea;
}

.market-column-left-header {
  color: white;
  padding: 3rem;
}

.market-column-light,
.market-column-header {
  padding: 3rem;
  border-bottom: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
}

.market-column-header h1,
.market-column-header h2 {
  font-weight: 900;
  font-size: 2.5rem;
}

.market-column-light h1,
.market-column-light h2,
.market-column-dark h1,
.market-column-dark h2,
.market-column-left-header h2,
.market-column-grey h2 {
  font-weight: 600;
}

.market-column-light h2,
.market-column-dark h2,
.market-column-left-header h2,
.market-column-grey h2,
.market-column-light h3,
.market-column-dark h3,
.market-column-grey h3 {
  font-size: 1.25rem;
}

.market-column-light,
.market-column-dark,
.market-column-header,
.market-column-left-header,
.market-column-grey {
  box-shadow: 3px 11px 20px 2px #8080803d;
}

.fa-arrow-up {
  color: green;
}

.fa-arrow-down {
  color: red;
}

/*
  LATEST ARTICLES
*/

img.img-fluid.article-image {
    min-width: 100%;
}

.article-title {
  min-height: 90px;
}

.view-more-articles {
  width: 100%;
  padding: 1.5rem;
  background: black;
  margin: 0;
}

.article-column {
  border-right: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  padding: 60px;
}
